html {
    font-size: 18px;
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 30px;
    }
}

body {
    font-family: 'Spartan';
    color: #FDCB9E;
    background-color: #1B262C;
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

a, a:visited{
    color: #FDCB9E;
    text-decoration: underline;
}

a:hover {
    color: #00B7C2;
}

p {
    margin: 0.333333333333rem 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins';
}

h1 {
    font-size: 2.666666666666rem;
}

h2 {
    font-size: 2.333333333333rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.666666666666rem;
}

h5 {
    font-size: 1.333333333333rem;
}

h6 {
    font-size: 1rem;
}

.content {
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    overflow: scroll;
}

.signature {
    font-family: 'Cedarville Cursive';
    font-size: 3.333333333333rem;
}

.name {
    color: #00B7C2;
    margin-top: 1rem;
}

.subtitle {
    font-size: 1.333333333333rem;
}

#businessCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    margin: 1.333333333333rem;
    padding: 0.666666666666rem;
}

@media screen and (max-width: 576px) {
    #businessCard {
        margin: 0.666666666666rem;
    }
}

@media screen and (max-width: 576px) {
    #businessCard {
        margin-left: 0;
        margin-right: 0;
    }
}

#myself {
    max-height: 9.666666666666rem;
    margin: 1.333333333333rem;
    border-radius: 50%;
}

@media screen and (max-width: 576px) {
    #myself {
        max-height: 6.666666666666rem;
        margin: 0.666666666666rem;
    }
}

#infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1.333333333333rem;
}

@media screen and (max-width: 576px) {
    #infos {
        margin: 0.666666666666rem;
    }
}

#contact {
    margin-top: 3rem;
}

@media screen and (max-width: 576px) {
    #contact {
        margin-top: 1.5rem;
    }
}

#contact .icon {
    width: 1.5rem;
    text-align: center;
    color: #00B7C2;
}
